div(class="row flex-column .container-1")
    table(id="data-table-audit" class="table table-striped table-bordered center" style="width:100%;")
        thead
            tr
                th Time Stamp
                th Action
                th Updated By
                th Field Changed
                th New Value
                th Affected Records
                th Comments
        tfoot
            tr
                th Time Stamp
                th Action
                th Updated By
                th Field Changed
                th New Value
                th Affected Records
                th Comments