div(class="row")
    div(class="col-md-6 col-sm-6 col-lg-6")
        legend
            h1 Data Hub Repository
    div(class="col-md-6 col-sm-6 col-lg-6")
        p(id="user-info-p" class="text-right") Current User: 

hr

div(class="row flex-column .container-1")
    table(id="data-table-audit" class="display compact" style="width:100%;")
        <caption>Audit Trail</caption>
        thead
            tr
                th Time Stamp
                th Action
                th Updated By
                th Field Changed
                th New Value
                th Affected Records
                th Comments
        tfoot
            tr
                th Time Stamp
                th Action
                th Updated By
                th Field Changed
                th New Value
                th Affected Records
                th Comments